*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(232, 241, 106);
}