*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(232, 241, 106);
}
.container {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0px 3rem;
    border: 1px solid;
}
.form-control {
    display: flex;
    flex-direction: column;
}
